body{margin:0;padding:0;font-family:Roboto sans-serif}.style_container__25HSS{position:absolute;z-index:10;width:100vw;height:100vh;display:flex;justify-content:center;align-items:flex-start;pointer-events:none}.style_alerts__1pbm4{width:50%;height:100%}
/*# sourceMappingURL=main.1bf0dc38.chunk.css.map */